@import '~styles/mixins/em';

.about {

  width: 80%;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  &__info {
    width: 59.513888888888889%;
    margin-top: 70px;
  }

  &__head {
    font-size: em(28);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 70px;
  }

  &__content {
    width: 70.011668611435239%;
    & p {
      line-height: 1.45;
      margin-bottom: 30px;
      color: white;
      font-size: em(22);
    }
  }

  &__parallax {
    position: relative;
  }

}