@import '~styles/mixins/em';

.game {

    font-family: Roboto, sans-serif;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        color: white;
        font-size: em(24);
        font-weight: 500;
        text-transform: uppercase;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &-block {
        border-radius: 5px;
        background-color: #313341;
        border: solid 1px #585a66;
        height: 470px;
        width: 50%;
    }

    &__area {
        width: 700px;
        margin-right: 40px;
    }

    &__editor {
        width: 460px;
        overflow: hidden;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }

    &__map {

    }

    &__logs, &__error {
        padding: 30px;
        box-sizing: border-box;
        font-size: em(12);
        font-weight: normal;
    }

    &__message {
        color: rgba(255, 255, 255, 0.7);
    }

    &__error {
        color: #ff2323;
        padding-right: 0;
        & pre {
            max-height: 100px;
            overflow-y: auto;
        }
    }

}

.ace-twilight {
    background: #202131 !important;
    & .ace_gutter {
        background: #1C1B2A !important;            
    }
}

.facilities {

    &__item {
        margin-bottom: 25px;
    }

    &__title {
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: em(18);
        color: rgba(0, 0, 0, 0.87);
    }

    &__description {
        color: rgba(0, 0, 0, 0.3);
    }

}