@import '~styles/mixins/em';

.loading {

    position: relative;

    &__container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background: url('~img/svg/loading3.svg') no-repeat, #202230;
        background-position: 50% 50%;
        background-size: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        animation: fadeOut .3s;
        &--load {
            opacity: 1;
            visibility: visible;
            animation: fadeIn .3s;
        }
        &::after {
            content: attr(data-text);
            display: block;
            margin-top: 100px;
            color: #ff863d;
            font-size: em(16);
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}