.game-map {
  $proportion: 0.420625;
  height: 530px * $proportion;
  width: 1600px * $proportion;
  background: url("~img/png/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  &__fields {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
  }

  &__field {
    width: 102px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: auto;
      height: 80px;
    }
    &--hero {
      &::after {
        content: '';
        margin-top: -90px;
        margin-left: 20px;
        height: 120px;
        display: block;
        background: url('~img/png/hero/swat.png') no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 60px;
      }
      &--jumped {
        height: 120px;
        background: url('~img/png/hero/swat_jump.gif') no-repeat;
        background-size: cover;
      }
    }
    &--enemy {
      &::after {
        content: '';
        margin-top: -70px;
        margin-right: -30px;
        height: 90px;
        background: url('~img/png/enemy/bomj.png') no-repeat;
        background-size: cover;
        background-position: 50%;
      }
    }
    &--thorns {
      &::after {
        content: '';
        height: 90px;
        margin-right: -15px;
        background: url('~img/png/thorns.png') no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 95px;
      }
    }
  }
}

#hero {
  position: relative;
}